$primary-color:#e06060;

$WHITE: #ffffff;
$BLACK: #000000;

$white-like: #f7f9f9;
$dark-shades: #3a5d72;

$light-accent-color:#ffded5;
$dark-accent-color: #cb9b97;

$focus-accent-color: rgba(203,155,151,0.3);

$text-primary-color: $dark-shades;
$text-secondary-color: $light-accent-color;
$background-color: $white-like;
$background-secondary-color: $dark-shades;
