.animate-form {
    &.popup-container {
        visibility: visible;
        opacity: 1;
    }

    .popup {
        transform: scale(1, 1);

        &--form {
            visibility: visible;
            transform: scale(1,1);
            opacity: 1;
        }
    
        &--success {
            visibility: hidden;
            transform: scale(0.9,0.9);
            opacity: 0;
        }
    }

    .popup__text {
        height: 45px;
        padding: 5px;
        
        opacity: 1;
    }
}

.animate-success {
    &.popup-container {
        visibility: visible;
        opacity: 1;
    }

    .popup {
        transform: scale(1, 1);

        &--success {
            visibility: visible;
            transform: scale(1,1);
            opacity: 1;
        }

        &--form {
            display: none;
            visibility: hidden;
            transform: scale(0.9,0.9);
            opacity: 0;
        }
    }
}
