.btn-menu {
	display: none;

	border: none;
	background-color: unset;

  @media (max-width: 1169px) {
    display: block;

		padding: 17px 24px;

    @include background-image(url('../img/icons/nav-icon-sprite.png'), right top);
    
    background-size: 70px;
  }

  @media (max-width: 1023px) {
    padding: 10px 13px;

		background-size: 39px;
  }
}
