.btn-menu {
  display: none;
  border: 0;
  
  @include button-reset;

  &:focus {
    @include focus-el;
  }

  &:hover {
    @include hover-el;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: 1169px) {
    display: block;

		padding: 17px 24px;

    @include background-image(url('../img/icons/nav-icon-sprite.png'), right top);
    
    background-size: 70px;
  }

  @media (max-width: 1023px) {
    padding: 10px 14px;

		background-size: 39px;
  }
}
