.btn {
  @include button-reset;
  border: 1px solid;
  font-size: 16px;
  color: #f53f4f;
	text-align: center;

  &--primary {
  	display: block;

  	min-width: 270px;
  	max-width: 20%;
  	padding: 18px 18px 15px;

  	font-size: 18px;
    background-color: $primary-color;
    color: $WHITE;
    border: none;

    &:focus {
      @include focus-el;
    }
  
    &:hover {
      @include hover-el;
    }

    &:active {
      opacity: 0.5;
    }

    @media (max-width: 1169px) {
      min-width: 320px;
  		max-width: 34%;
  		padding: 21px;
    }

    @media (max-width: 1023px) {
      min-width: 280px;
  		max-width: 100%;
  		padding: 15px;

  		font-size: 16px;
    }
  }
}
