.call-btn {
	padding: 11px 40px 10px;

	border-color: #f82370;

  @media (max-width: 1169px) {
    max-width: 250px;
		padding: 11px 39px 9px;
  }

  &:last-child {
    margin-bottom: 0;
  }

	&--wide {
		min-width: 247px;
		padding: 9px 40px;

		@media (max-width: 1023px) {
			min-width: 280px;
			max-width: unset;
			padding: 15px;

			border: none;
			color: $WHITE;
			background-color: $primary-color;
		}
	}

  &--round {
    @media (max-width: 1023px) {
      padding: 12px;

      font-size: 11px;
      border-radius: 50%;

			@include background-image(url('../img/icons/icon-phone.png'), 5px 5px);
			background-size: 13px;
    }
  }
}
