.carousel-btn {
	@include button-reset;
	padding: 30px;

	border-radius: 50%;
  	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);

  @include background-image(url('../img/icons/arrow.png'));

  &:focus {
    @include focus-el;
  }

  &:hover {
    @include hover-el;
  }

  &:active {
    opacity: 0.5;
  }
}
