.cases-list {
  @include flex-container(space-between, flex-end);

	min-width: 457px;
  @include list-el-reset;

  @media (max-width: 1169px) {
    justify-content: space-between;
		align-items: baseline;

		padding: 0 125px 0 117px;
  }

  @media (max-width: 1023px) {
    flex-direction: column;

		max-width: 100%;
		min-width: unset;
		padding: 0;
  }

  &__item {
    position: relative;
    
    width: 265px;
    height: 200px;

    padding-top: 105px;
    
    background-color: $white-like;
  }

  &__p {
    max-width: 260px;
  	margin-top: 0;
  	margin-bottom: 0;

  	font-size: 16px;
  	font-weight: 400;
  	text-align: center;

  	color: $dark-shades;

    &::before {
    	position: absolute;
    	left: 25%;
    	top: -25%;

    	content: ' ';
    	padding: 165px;

      @include background-image(url('../img/icons/tools.png'));
    }
  }

  &__item:nth-child(2) &__p::before{
    @include background-image(url('../img/icons/responsive.png'));
  }

  &__item:nth-child(3) &__p::before {
    @include background-image(url('../img/icons/programming.png'));
  }

  &__item:nth-child(4) &__p::before {
    @include background-image(url('../img/icons/coding.png'));
  }
}
