.contacts {
	min-width: 325px;

  @media (max-width: 1169px) {
    min-width: 315px;
  }

  @media (max-width: 1023px) {
    min-width: unset;
		padding-top: 0;
  }

  &__list {
  	max-width: 300px;
		@include list-reset;

  	font-style: normal;
  }

  &__item {
    margin-bottom: 20px;

    @media (max-width: 480px) {
      margin-bottom: 22px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
  	padding-left: 38px;

  	line-height: 1.6;
    font-size: 25px;
    
    @include link-highlights;

    background-image: url('../img/icons/contacts-sprite.svg');
    background-repeat: no-repeat;
    background-size: 24px;

    @media (max-width: 480px) {
      padding-left: 34px;

      font-size: 20px;
      font-weight: 500;
      line-height: 0;
    }

    &--phone {
      background-position: left 3px;

      @media (max-width: 480px) {
        background-position: left 5px;
        background-size: 18px;
      }
    }

    &--mail {
      padding-left: 45px;
      background-position: left bottom;

      @media (max-width: 480px) {
        background-size: 16px;
        background-position: left -14px;
      }
    }
  }
}
