.page-section {
	padding-top: 88px;
	padding-bottom: 101px;

	text-align: center;

  @media (max-width: 1169px) {
    padding-top: 84px;
    padding-bottom: 104px;
  }

  @media (max-width: 1023px) {
    padding-top: 42px;
		padding-bottom: 52px;
  }

  &--secondary-background {
    background-color: $background-secondary-color;
    color: $white-like;
  }

  &__title {
  	max-width: 800px;
  	margin: 0 auto;

  	font-size: 54px;
    text-align: center;
    line-height: 1.2;

    @media (max-width: 1023px) {
      max-width: 300px;

  		font-size: 30px;
    }
  }

  &__list {
  	margin: 90px 0 0;

    @media (max-width: 1169px) {
      margin-bottom: 90px;
    }

    @media (max-width: 1023px) {
      margin-top: 45px;
  		margin-bottom: 53px;
    }
  }

  &__btn {
  	margin: 93px auto 0;

    @media (max-width: 1169px) {
      margin-top: 0;
    }
  }

  &__portfolio {
  	margin-top: 100px;

    @media (max-width: 1169px) {
      margin-bottom: 100px;
    }

    @media (max-width: 1023px) {
      margin-top: 40px;
  		margin-bottom: 50px;
    }
  }
}
