.page-nav {

  &--vertical {
    @include flex-container(space-between);
    flex-direction: column;
    align-self: flex-start;

    min-width: 220px;
    max-width: 40%;
    @include list-el-reset;

    @media (max-width: 1169px) {
      min-width: 170px;
    }

    @media (max-width: 1023px) {
      min-width: 35%;

  		font-size: 16px;
    }

    .page-nav__item {
      margin-right: 0;
    }
  }

  &__list {
    @include flex-container(flex-start);

    min-width: 278px;
    max-width: 650px;
    @include list-reset;

    @media (max-width: 1169px) {
      display: none;
    }
    @media (max-width: 1023px) {
      text-align: center;
    }
  }

  &__item {
    min-width: 54px;
    margin-right: 27px;

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    outline: none;

    @include link-highlights;

    &--grey {
    	font-size: 18px;
    	line-height: 1.9;
    	color: $text-primary-color;

      @media (max-width: 1023px) {
        font-size: 15px;
    		line-height: 2.2;
      }
    }
  }
}
