.pagination {
	display: none;

  @media (max-width: 1169px) {
    @include flex-container(space-between);
    @include list-el-reset;

    max-width: 138px;
    padding: 10px;

    font-size: 18px;
  }

  @media (max-width: 1023px) {
    max-width: 80px;
  }

  &__dot {
    &:focus {
      border-radius:90px;

      -webkit-box-shadow: 0px 0px 0px 5px $focus-accent-color;
      -moz-box-shadow: 0px 0px 0px 5px $focus-accent-color;
      box-shadow: 0px 0px 0px 5px $focus-accent-color;
    }
  
    &:hover {
      background-position: left top;
      opacity: 0.5;
    }
  
    &:active {
      opacity: 0.5;
    }

    @media (max-width: 1169px) {
			@include button-reset;
			
  		display: block;

  		padding: 10px;

      @include background-image(url('../img/icons/nav-icon-sprite.png'), left bottom);
      background-size: 70px;
    }

    @media (max-width: 1023px) {
      padding: 6px;

  		background-size: 40px;
    }

    &--active {
      @media (max-width: 1169px) {
    		background-position: left top;
      }
  	}
	}
}
