.popup-container {
    display:  none;
    position: fixed;
    z-index: 10;

    width: 100%;
    height: 100%;

    background-color: rgba(251,251,251,0.7);

    &__popup {
        margin: 100px auto;

        @media (max-width: 1023px) {
            margin: 0 auto;
        }
    }
}