.popup {
    position: relative;

    width: 540px;
    padding: 30px 55px;
    
    background-color: rgba(58,93,114,0.9);

    transition: all 0.2s;
    transform: scale(0.9,0.9);

    @media (max-width: 1023px) {
        width: 100%;
        padding: 20px;
    }

    &__btn-close {
        position:absolute;
        top:-40px;
        right:0;
    }

    &__form {
        @media (max-width: 1023px) {
            max-width: 280px;
            margin: 0 auto;
        }
    }

    &__btn {
        margin: 30px auto 0;

        @media (max-width: 1023px) {
            margin: 25px auto 0;
        }
    }

    &__label {
        width: 100%;

        color: $white-like;
        line-height: 1.7;

        @media (max-width: 1023px) {
            font-size: 14px;
        }
    }

    &__text {
        width: 100%;
        height: 0;
        padding: 0;
        margin: 0;
        margin-bottom: 8px;

        opacity: 0;

        border: 0;
        outline: 0;

        transition-delay: 0.2s;

        transition: height 1s 0.2s, background-color 0.05s, padding 1s 0.2s, opacity 1s 0.2s ;

        &:focus {
            background-color: $light-accent-color;
          }
        
          &:hover {
            @include hover-el;
          }

        @media (max-width: 1023px) {
            height: 35px;
            margin-bottom: 5px;
        }
    }
}