.portfolio {
  position: relative;
  overflow: hidden;

  max-width: 1240px;
  width: auto;
  padding: 0 30px;

  @media (max-width: 1169px) {
    overflow: hidden;

		max-width: 945px;
    padding: 0;
  }

  @media (max-width: 1023px) {
    max-width: 788x;
  }

  &__btn {
  	position: absolute;
  	display: block;
  	top: 120px;
  	z-index: 10;

    &--previous {
      left: 5px;
    }

    &--next {
      right: 5px;

      transform: rotate(180deg);
    }

    @media (max-width: 1169px) {
      display: none;
    }
  }

  &__list {
    @include list-reset;
  }

  &__img {
    @media (max-width: 1169px) {
      min-width: 455px;
      width: 100%;
    }

    @media (max-width: 1023px) {
      min-width: 270px;
    }
  }

  &__h3 {
  	margin-top: 23px;
  	margin-bottom: 0;

  	font-weight: 500;
  	font-size: 20px;
  	text-align: center;

    color: $text-primary-color;

    @media (max-width: 1169px) {
  		margin-top: 10px;

  		font-size: 25px;
  		font-weight: 500;
    }

    @media (max-width: 1023px) {
      margin-top: 5px;

      font-size: 18px;
      text-align: center;
      letter-spacing: 0;
    }
  }

  &__link {
    outline: none;
    
    @include link-highlights;
  }

  &__pagination {
    @media (max-width: 1169px) {
      margin: 105px auto 0;
    }

    @media (max-width: 1023px) {
      margin: 47px auto 0;
    }
  }
}
