.socials {
  @include flex-container(flex-end, flex-end);

	max-width: 250px;
  @include list-el-reset();

  @media (max-width: 1169px) {
    min-width: 190px;
  }

  @media (max-width: 1023px) {
    max-width: unset;
    min-width: 100%;

    justify-content: center;
  }

  &__link {
    display: block;
    
    padding: 19px;

    background-image: url('../img/icons/social-media-sprite.svg');
    background-repeat: no-repeat;
    background-size: 75px;
    outline: none;

    transition: all 0.4s;

    &:hover {
      background-image: url('../img/icons/social-media-sprite-focus.svg');
      transform: scale(1.1) translateY(-7px);
    }

    &:focus {
      border-radius: 90px;
      background-color: $focus-accent-color;
      @include focus-el;
    }

    &:active {
      background-image: url('../img/icons/social-media-sprite.svg');
    }

  }

  &__item:nth-child(2) &__link {
    background-position: right bottom;
    margin-left: 10px;
  }
}
